@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@font-face {
  font-family: Aquin;
  src: url("../assets/background.png");
}

body {
  font-family: Comfortaa !important;

  text-align: center;
  background: url("../assets/background.png");
  background-size: 10%;
}

.App {
  text-align: center;
}

h1 {
  font-family: Aquin;
  font-weight: 400;
  font-size: 200%;
}

p {
  font-family: Comfortaa !important;
  color: black;
}

h3,
h2,
h4 {
  font-family: Comfortaa !important;
  font-weight: 400;
  color: rgb(102, 70, 189) !important;
}

/* appbar */
.MuiGrid-spacing-xs-3 {
  padding: 10px;
}

.appBar-under {
  width: 100vw;
  height: 20vh;
  background: red;
}

label,
input {
  font-family: Comfortaa !important;
}

#welcome {
  margin-top: 25%;
  font-size: 3vw;
}

@media screen and (max-width: 700px) {
  #welcome {
    margin-top: 35%;
    font-size: 5vw;
  }
}

.search {
  font-family: Comfortaa !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#about,
#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

#about h3,
#home h3 {
  transition: 0.05s linear;
  color: rgb(221, 211, 250) !important;
}

#about h3:hover,
#home h3:hover {
  font-weight: 700;
  cursor: pointer;
  color: white !important;
}

.MuiChip-root {
  font-size: 10px !important;
}

.MuiFilledInput-root {
  background: white !important;
  border: rgb(167, 166, 246) 1px solid !important;
}

.MuiFilledInput-root:before {
  border-bottom: none !important;
}

.day-card:hover {
  background: white;
}

#showtime-chip {
  margin: 3px !important;
}

#cinema-card {
  border: rgb(177, 169, 207) 1px solid;
}

#day-title {
  font-family: Comfortaa !important;
  font-weight: 700;
}

header h3 {
  color: white !important;
}

/* MAP */

.mapContainer {
  border: aliceblue 3px solid;
}

#infoWindow {
  min-width: 200px;
  flex-wrap: wrap;
  max-width: 200px;
}

#infoWindow-showtimes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#infoWindow-showtimes h4 {
  width: 20%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.logo-container img {
  width: 10%;
}

/* icon sizes weather */

.svg-inline--fa {
  font-size: 170%;
}
